:root {
  --AngloDarkBlue: #002776;
  --AngloLightBlue: #0075B0;
  --ProfilePictureOrange: #DA532C;
  --white: #ffffff;
  --black: #000000;
  --fillSolid: #D8D8D8;
  --contentGrey: #434343;
  --linkRed: #C60C30;
  --outlineBlue: #93A7B2;
  --inputBoxFill: #E1DFDD;
  --tableBorder: #979797;
  --tableHeader: #373737;
  --errorMessage: #a80000;
}
