@import '/global/global.css';
/*Common CSS*/
body {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  line-height: normal;
}
.material-icons {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 769px) {
  .left-sidebar {
    max-width: 240px;
    display: flex;
  }
}
.color-dak-blue {
  color: var(--AngloDarkBlue);
}
h1 {
  font-size: 25px;
  line-height: 33px;
  margin-bottom: 19px;
  color: var(--AngloDarkBlue);
}

h2 {
  font-size: 20px;
  line-height: 27px;
  color: var(--AngloDarkBlue);
  margin-bottom: 20px;
}

h3 {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
h5 {
  font-size: 15px;
  line-height: 20px;
  color: var(--AngloDarkBlue);
  margin-bottom: 15px;
}
h6 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: var(--contentGrey);
  margin-bottom: 5px;
  margin-top: 6px;
}

.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.modal-title {
  margin: 24px 60px 45px 35px;
}
.modal-label {
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 0.16px;
  color: var(--AngloDarkBlue);
  margin-bottom: 0;
}
.modal-full-width {
  max-width: 1150px;
  border-color: var(--tableBorder);
}
.modal-full-width .modal-content {
  border-radius: 0;
}
button.close {
  position: absolute;
  right: 19px;
  top: 18px;
  z-index: 10;
}
button.close i {
  font-size: 30px;
}
/*SP Overwrite CSS*/
#spLeftNav,
.webPartContainer {
  display: none;
}
.CanvasComponent .CanvasZone > div {
  max-width: 100% !important;
  width: 100%;
}
.CanvasComponent .CanvasZone,
.CanvasComponent .CanvasZone .ControlZone,
.CanvasComponent .CanvasZone .CanvasSection {
  padding: 0 !important;
  margin: 0 !important;
}
/*Bootstrap Overwrite CSS*/
.container {
  width: 100%;
  max-width: 1440px;
}
.btn {
  height: 42px;
}
.btn-primary {
  background-color: var(--AngloLightBlue);
  border: 1px solid transparent;
  transition: all ease 0.5s;
}
.btn-primary:hover {
  background-color: var(--AngloDarkBlue);
  border: 1px solid var(--white);
}
.btn-secondary {
  background-color: var(--AngloDarkBlue);
  border: 1px solid transparent;
  border-radius: 0;
  transition: all ease 0.5s;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.13px;
  min-width: 160px;
}
.btn-secondary:hover {
  background-color: var(--AngloLightBlue);
  border: 1px solid var(--AngloLightBlue);
}
.form-group {
  margin-bottom: 20px;
  position: relative;
}
.form-group i {
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    cursor: default;
    user-select: none;
    color: var(--outlineBlue);
    pointer-events: none;
}
.form-control {
  border-color: var(--outlineBlue);
  height: 43px;
  border-radius: 0;
  padding-right: 30px;
}
.form-control:hover,
.form-control:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--outlineBlue);
}
label {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.13px;
  color:var(--AngloDarkBlue);
}
.btn-submit {
  margin-top: 10px;
  padding: 6px;
}
.slick-prev {
  left: -15px
}
.slick-next {
  right: -15px;
}
ul {
  padding: 0;
  margin: 0;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 4px);
}
/*Header CSS*/
header .header-wrapper {
  background-color: var(--AngloDarkBlue);
  padding-top: 15px;
  padding-bottom: 16px;
}
.finance-label {
  font-size: 15px;
  line-height: 20px;
  color: var(--white);
  justify-content: center;
}
@media (min-width: 991px) {
  .finance-label {
    max-width: 213px;
    padding: 0;
    margin-left: 30px;
  }
  /* .search-bar {
    max-width: 718px;
  } */
  .has-search {
    max-width: 303px;
  }
  .controls-bar {
    max-width: 250px;
  }
}
.has-search {
  width: 100%;
}
.has-search input {
  border-left: 0;
  border-right: 0;
  height: 33px;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar select {
  appearance: none;
  max-width: 266px;
}
.search-bar select.form-control:not([size]):not([multiple]) {
  height: 33px;
  padding: 6px 15px;
  line-height: 20px;
}
@media (min-width: 1440px) {
  .search-bar select {
    width: 100% !important;
  }
}
.select-arrow {
  position: relative;
  margin-left: -30px;
  display: flex;
  align-items: center;
  z-index: 9999;
  width: 30px;
  cursor: default;
  user-select: none;
  color: var(--black);
  pointer-events: none;
}
.input-group-append,
.input-group-append .btn {
  width: 100%;
  max-width: 119px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-search {
  width: 38px;
  height: 33px;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  color: var(--AngloLightBlue);
  justify-content: center;
  background-color: var(--white);
  border: 1px solid var(--outlineBlue);
  border-right: none;
  border-radius: 4px 0 0 4px;
  cursor: default;
  user-select: none;
}
.controls-bar {
  display: flex;
  align-items: center;
}
.controls-bar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.controls-bar ul li {
  position: relative;
}
.controls-bar a {
  display: flex;
  color: var(--white);
}
.controls-bar i, .controls-bar .help {
  font-size: 27px;
}
.controls-bar a:hover {
  text-decoration: none;
}
.notification-count {
  background-color: var(--linkRed);
  width: 22px;
  height: 22px;
  display: flex;
  position: absolute;
  top: -4px;
  right: -12px;
  z-index: 10;
  justify-content: center;
  color: var(--white);
  border-radius: 50px;
}
.document-owner {
  display: grid;
  max-width: 95px;
  background-color: var(--ProfilePictureOrange);
  text-align: center;
  border-radius: 4px;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.07px;
  padding: 2px 20px;
}
/*Main Content CSS*/
section {
  display: block;
}
.main-content-wrapper .left-sidebar {
  box-shadow: 2px 2px 8px 2px rgb(0 0 0 / 18%);
  padding-top: 30px;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 991px) {
  .main-content-wrapper .left-sidebar {
    min-height: calc(100vh - 101px);
  }
}
.menu-circle {
  padding: 0;
  margin-left: 25px;
  max-width: 25px;
}
.top-logo {
  margin-left: 41px;
  padding: 0;
  max-width: 147px;
}
.menu-container {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  width: 100%;
}
.menu-container .menu-items {
  margin-bottom: 1px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
.menu-container .menu-items a {
  display: flex;
  padding: 15px 15px 15px 25px;
}
.menu-container .menu-items a:hover {
  text-decoration: none;
  background-color: var(--AngloDarkBlue);
  color: var(--white);
}
.menu-container .menu-items a.active {
  background-color: var(--AngloDarkBlue);
  color: var(--white);
}
.menu-items.create a {
  display: flex;
  padding: 10px 40px;
  width: 100%;
  max-width: 159px;
  background-color: var(--AngloDarkBlue);
  color: var(--white);
}
.menu-items a > i {
  margin-right: 22px;
}
.menu-items.create i {
  margin-right: 15px;
}

/*Main Content CSS*/
@media (min-width: 991px) {
  .main-content {
    max-width: calc(100% - 240px);
  }
}
.top-ribbon {
  height: 40px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
.top-ribbon.anglo-light-blue {
  background-color: var(--AngloLightBlue);
}
.top-ribbon.anglo-light-blue i:first-child {
  margin-right: 16px;
}
.top-ribbon.anglo-light-blue i:last-child {
  margin-left: 16px;
}
.my-calendar {
  height: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--white);
  font-size: 15px;
  line-height: 20px;
  margin-right: 5px;
  cursor: pointer;
  user-select: none;
}
.top-ribbon.inpul-fill-bg {
  background-color: var(--inputBoxFill);
  margin-bottom: 27px;
}
.filter-section {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  color: var(--white);
  margin-right: 152px;
}

.top-ribbon .filter-block {
  width: 42px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--AngloDarkBlue);
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
  transition: all ease 0.5s;
}

.top-ribbon .filter-block:hover {
  background-color: var(--AngloLightBlue);
}

.top-ribbon .filter-block + i {
  cursor: pointer;
  user-select: none;
  transition: all ease 0.5s;
}

.top-ribbon .filter-block + i:hover {
  color: var(--AngloLightBlue);
}

.home-slider .item {
  min-height: 225px;
  background-color: #002776;
}

/*Recent Document Section*/
.recent-document-wrapper {
  margin-bottom: 38px;
}
.recent-document-wrapper ul {
  list-style-type: none;
}
.recent-document-wrapper li a {
  margin-bottom: 20px;
  color: var(--AngloLightBlue);
  font-size: 10px;
  display: inline-flex;
  line-height: 12px;
}
.recent-document-wrapper li a span {
  display: inline-flex;
  min-width: 145px;
}

/*Performance Fillbox Section*/
.performance-wrapper {
  margin-bottom: 30px;
}

.fill-block {
  background-color: var(--fillSolid);
  min-height: 244px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Helpdesk Section*/
.helpdesk-wrapper {
  font-family: Helvetica, sans-serif;
  color: var(--contentGrey);
  margin-bottom: 40px;
}
.verify-icon {
  max-width: 44px;
  padding-right: 4px;
  color: var(--AngloDarkBlue);
}
.user-block-content {
  max-width: 297px;
}
.helpdesk-wrapper h3 {
  position: relative;
}
.helpdesk-wrapper p {
  font-size: 12px;
  line-height: 14px;
}
.helpdesk-wrapper a {
  text-transform: uppercase;
  min-width: 185px;
  color: var(--linkRed);
}
.helpdesk-wrapper h3 i {
  position: absolute;
  right: 0;
}

/*Table CSS*/
.table {
  margin-top: 20px;
}
.table thead th, .table td  {
  border-bottom: 1px solid var(--tableBorder);
  padding: 0 0 13px;
  vertical-align: middle;
}
.table th {
  font-size: 17px;
  line-height: 22px;
  color: var(--tableHeader);
}
.table td {
  font-size: 15px;
  line-height: 22px;
  color: var(--contentGrey);
  padding-top: 11px;
  padding-bottom: 11px;
}
.task-status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 33px;
  color: var(--white);
}
.published {
  background-color: var(--AngloLightBlue);
  color: var(--white);;
}
.under-review {
  background-color: var(--linkRed);
  color: var(--white);;
}
.approved {
  background-color: var(--AngloDarkBlue);
  color: var(--white);;
}
.archived {
  background-color: var(--contentGrey);
}
.assigned-by {
  display: flex;
  align-items: center;
}
.assigned-by span {
  width: 49px;
  height: 49px;
  border: 1px solid var(--outlineBlue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--outlineBlue);
  margin-right: 32px;
}
.select-box {
  position: relative;
}
.select-box i {
  position: absolute;
  cursor: default;
  user-select: none;
  color: var(--outlineBlue);
  pointer-events: none;
}
.sort-task {
  max-width: 348px;
  margin: 22px 0;
}
select.form-control {
  appearance: none;
  border-radius: 0;
}
.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0,0,0,0.5);
  margin-top: 45px;
  margin-bottom: 40px;
}
.rows-per-page {
  position: relative;
  display: flex;
  align-items: center;
}
.pagination-wrapper select {
  appearance: none;
  border: 0;
  min-width: 35px;
  padding-left: 10px;
}
.pagination-wrapper select:focus {
  outline: none;
}
.rows-per-page i {
  position: absolute;
  right: -10px;
  top: 0px;
  user-select: none;
  pointer-events: none;
  cursor: default;
}
.pagination-nav {
  display: flex;
  width: 65px;
  align-items: center;
  justify-content: space-between;
}
.pagination-nav .pagination-arrow i {
  color: var(--tableHeader);
  cursor: pointer;
  user-select: none;
}
.pagination-arrow.prev {
  transform: rotate(90deg);
}
.pagination-arrow.next {
  transform: rotate(270deg);
}

/*Upload Document*/
.upload-document-form-wrapper {
  max-width: 739px;
}
.input-link .form-control {
  height: 43px;
}
.source-system select {
  height: 43px;
}

/*Upload Modal CSS*/
.form-wrapper {
  margin: 0 10px;
}
.modal-body.form-wrapper .col {
  padding: 0 25px;
}
label.header-label {
  margin-bottom: 17px;
}
label.sub-label {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.12px;
}
.calendar-box {
  max-width: 425px;
}
.calendar-box input {
  padding-right: 45px;
}
.calendar-box i {
  right: 20px;
}

/*SidePanel SlideOut CSS*/
.slide-out-panel-right {
  width: 362px;
  height: calc(100vh - 141px);
  z-index: 0;
  top: 141px;
  box-shadow: 0px 0px 8px 3px rgb(0 0 0 / 17%);
  overflow-y: auto;
  right: -400px;
  position: fixed;
  transition: all ease 0.5s;
}
.slide-out-panel-right.show {
  right: 0;
}
.close-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 42px;
}
.close-bar i {
  font-size: 30px;
  color: var(--outlineBlue);
  margin-right: 9px;
  cursor: pointer;
  user-select: none;
  transition: all ease 0.5s;
}
.close-bar i:hover {
  color: var(--contentGrey);
}
.fill-box-seperator {
  background-color: var(--inputBoxFill);
  height: 17px;
}
.slide-panel-content {
  padding: 25px;
}
.slide-out-panel-right p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.copy-text {
  display: inline-flex;
  margin-left: 13px;
  color: var(--AngloDarkBlue);
  cursor: pointer;
  user-select: none;
}
p.small {
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.09px;
  color: var(--contentGrey);
  margin-bottom: 4px;
}
.btn-maintain {
  margin: 25px 0 30px;
}
.related-document {
  list-style-type: none;
}
.related-document li {
  display: flex;
  color: var(--AngloLightBlue);
  margin-bottom: 25px;
}
.related-document li a {
  margin-left: 15px;
  text-decoration: underline;
}
.related-document li a:hover {
  text-decoration: none;
}
.activity-notification {
  display: flex;
}
.activity-notification i {
  font-size: 15px;
  margin-left: 6px;
  cursor: pointer;
  user-select: none;
}
.doc-status-title {
  font-weight: 700;
}
.doc-status-title span:first-child {
  color: var(--contentGrey);
}
.doc-status-title span:last-child {
  color: var(--AngloLightBlue);
}
.user-block {
  margin: 0px;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 22px;
}
.user-icon {
  max-width: 25px;
  background-color: var(--contentGrey);
  color: var(--white);
  text-transform: uppercase;
  border-radius: 50%;
  font-size: 10px;
  width: 25px;
  height: 25px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.slide-out-panel-right .edit-status {
  font-weight: 700;
  margin-bottom: 0;
}
.slide-out-panel-right .edit-date {
  font-size: 10px;
  margin-bottom: 20px;
}
.edit-name {
  font-size: 13px;
}
.slide-out-panel-right .file-size {
  font-size: 15px;
  line-height: 20px;
}
.slide-out-panel-right .file-size {
  display: inline-block;
}